<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>查看用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="../../../../static/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="../../../../static/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/common.js" charset="utf-8"></script>
    <script src="../../../../static/common.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" id="app">
    <!-- 头部区域水平导航 -->
    <div class="layui-header">
        <div onclick="window.location='/'" style="cursor: pointer" class="layui-logo">大创信息管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    {{userTypeName}} {{userInfo.userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a onclick="window.location='/teacher/userInfoPage'" style="cursor: pointer">个人信息</a></dd>
                    <dd><a onclick="window.location='/teacher/userPasswordPage'" style="cursor: pointer">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a onclick="window.location='/logout'" style="cursor: pointer">退出登录</a></li>
        </ul>
    </div>
    <!-- 左侧导航区域垂直导航 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li v-if="userInfo.userType>=3" class="layui-nav-item layui-nav-itemed">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-user"></i> 用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/userSelectPage'" style="cursor: pointer">用户查询</a></dd>
                        <dd><a onclick="window.location='/teacher/userAddPage'" style="cursor: pointer">添加用户</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=4" class="layui-nav-item">
                    <a onclick="window.location='/teacher/timePublicPage'" style="cursor: pointer"><i class="layui-icon layui-icon-date"></i> 时间发布</a>
                </li>
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-notice"></i> 公告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/noticeSelectPage'" style="cursor: pointer">公告查询</a></dd>
                        <dd><a onclick="window.location='/teacher/noticeAddPage'" style="cursor: pointer">添加公告</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/myProjectPage'" style="cursor: pointer"><i class="layui-icon layui-icon-home"></i> 我的项目</a>
                </li>
                <li v-if="userInfo.userType>=2" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-read"></i> 项目审核</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/pstartPage'" style="cursor: pointer">立项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/processPage'" style="cursor: pointer">进展记录</a></dd>
                        <dd><a onclick="window.location='/teacher/pmidtermPage'" style="cursor: pointer">中期审核</a></dd>
                        <dd><a onclick="window.location='/teacher/promotePage'" style="cursor: pointer">项目升级</a></dd>
                        <dd><a onclick="window.location='/teacher/pendPage'" style="cursor: pointer">结项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/pextensionPage'" style="cursor: pointer">延期审核</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/moneyPage'" style="cursor: pointer"><i class="layui-icon layui-icon-rmb"></i> 财务统计</a>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/fileDownloadPage'" style="cursor: pointer"><i class="layui-icon layui-icon-download-circle"></i> 文档下载</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" >
        <section>
            <div style="display: flex;margin-top: 10px;margin-bottom: 5px;margin-right:5px;float:right">
                <input type="text" placeholder="学工号查找" v-model="userIdSearch" class="layui-input" style="width: 200px">
                <input type="text" placeholder="姓名查找" v-model="userNameSearch" class="layui-input" style="width: 200px">
                <input type="text" placeholder="院系查找" v-model="departmentSearch" class="layui-input" style="width: 200px">
                <select v-model="userTypeSearch" class="layui-input" style="width: 200px">
                    <option value=null>身份查找</option>
                    <option value="0">学生</option>
                    <option value="1">老师</option>
                    <option value="2">审核老师</option>
                    <option value="3">系级负责人</option>
                    <option v-if="userInfo.userType==4" value="4">校级负责人</option>
                </select>
                <button @click="getData" class="layui-btn layui-btn-primary">搜索</button>
            </div>
            <table id="table" class="layui-table" lay-skin="line">
                <colgroup>
                    <col width="50">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="50">
                    <col width="50">
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>教职工号</th>
                    <th>教师姓名</th>
                    <th>系别</th>
                    <th>权限类别</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="isNull(0)">
                    <td>1</td>
                    <td>{{list[0].userId}}</td>
                    <td>{{list[0].userName}}</td>
                    <td>{{list[0].department}}</td>
                    <td>{{list[0].userTypeName}}</td>
                    <td><a @click="edit(0)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(0)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(1)">
                    <td>2</td>
                    <td>{{list[1].userId}}</td>
                    <td>{{list[1].userName}}</td>
                    <td>{{list[1].department}}</td>
                    <td>{{list[1].userTypeName}}</td>
                    <td><a @click="edit(1)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(1)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(2)">
                    <td>3</td>
                    <td>{{list[2].userId}}</td>
                    <td>{{list[2].userName}}</td>
                    <td>{{list[2].department}}</td>
                    <td>{{list[2].userTypeName}}</td>
                    <td><a @click="edit(2)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(2)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(3)">
                    <td>4</td>
                    <td>{{list[3].userId}}</td>
                    <td>{{list[3].userName}}</td>
                    <td>{{list[3].department}}</td>
                    <td>{{list[3].userTypeName}}</td>
                    <td><a @click="edit(3)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(3)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(4)">
                    <td>5</td>
                    <td>{{list[4].userId}}</td>
                    <td>{{list[4].userName}}</td>
                    <td>{{list[4].department}}</td>
                    <td>{{list[4].userTypeName}}</td>
                    <td><a @click="edit(4)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(4)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(5)">
                    <td>6</td>
                    <td>{{list[5].userId}}</td>
                    <td>{{list[5].userName}}</td>
                    <td>{{list[5].department}}</td>
                    <td>{{list[5].userTypeName}}</td>
                    <td><a @click="edit(5)" style="cursor: pointer">修改</a></td>
                    <td><a @click="toDelete(5)" style="cursor: pointer">删除</a></td>
                </tr>
                </tbody>
            </table>
            <div style="float:right">
                <button @click="previous" type="button" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon"></i></button>
                <label style="text-align: center;margin: 5px">{{current}}/{{pageCount}}</label>
                <button @click="next" type="button" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon"></i></button>
            </div>
        </section>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer" style="text-align: center">
        @杨国栋的大创信息管理平台
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            userInfo:{
                userId:null,
                userName:"姓名",
                userType:4,
                department:null,
                major:null
            },
            userTypeName:"老师",
            total:0,
            list: [
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
                {userId:null,userName:"",department:"",userType:null,userTypeName:""},
            ],
            current:1,
            limit:6,
            property:"gmt_create",
            pageCount:1,
            userIdSearch:"",
            departmentSearch:"",
            userNameSearch:"",
            userTypeSearch:null,
        },
        mounted:function (){
            var that = this;
            axios.get('http://'+IP+'/api/user/getUserInfo')
                .then(function (response) {
                    if(response.data.success===true){
                        that.userInfo=response.data.data.userInfo;
                        if(response.data.data.userInfo.userType===1)
                            that.userTypeName="老师";
                        else if(response.data.data.userInfo.userType===2)
                            that.userTypeName="审核老师";
                        else if(response.data.data.userInfo.userType===3)
                            that.userTypeName="系级负责人";
                        else if(response.data.data.userInfo.userType===4)
                            that.userTypeName="校级负责人";
                        else
                            that.userTypeName="学生";
                    }else{
                        console.log(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            that.getData();
        },
        methods:{
            edit:function (index){
                window.location='/teacher/userUpdatePage/'+this.list[index].userId;
            },
            toDelete:function (index){
                var that=this;
                axios.delete('http://'+IP+'/api/user/userDelete',{
                    params:{
                        userId:that.list[index].userId
                    }
                })
                    .then(function (response) {
                        if(response.data.success===true){
                            layer.alert(response.data.message);
                        }else{
                            layer.alert(response.data.message);
                            console.log(response);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            previous:function (){
                if(this.current>1)
                    this.current--;
                this.getData();
            },
            next:function (){
                if(this.current<this.pageCount)
                    this.current++;
                this.getData();
            },
            getData:function (){
                var that = this;
                axios.get('http://'+IP+'/api/user/userSelectPage',{
                    params:{
                        current:that.current,
                        limit:that.limit,
                        property:that.property,
                        userName: that.userNameSearch,
                        userId: that.userIdSearch,
                        department: that.departmentSearch,
                        userType: that.userTypeSearch
                    }//params格式适用于get请求传参
                })
                    .then(function (response) {
                        if(response.data.success===true){
                            console.log(response);
                            for(var i=0;i<that.limit;i++){
                                if(response.data.data.rows.length>i){
                                    that.list[i].userId = response.data.data.rows[i].userId;
                                    that.list[i].userName = response.data.data.rows[i].userName;
                                    that.list[i].department = response.data.data.rows[i].department;
                                    that.list[i].userType = response.data.data.rows[i].userType;
                                    if(that.list[i].userType===1)
                                        that.list[i].userTypeName="老师";
                                    else if(that.list[i].userType===2)
                                        that.list[i].userTypeName="审核老师";
                                    else if(that.list[i].userType===3)
                                        that.list[i].userTypeName="系级负责人";
                                    else if(that.list[i].userType===4)
                                        that.list[i].userTypeName="校级负责人";
                                    else
                                        that.list[i].userTypeName="学生";
                                }else {
                                    that.list[i].userId = null;
                                    that.list[i].userName = null;
                                    that.list[i].department = null;
                                    that.list[i].userType = null;
                                    that.list[i].userTypeName = null;
                                }
                            }
                            that.total=response.data.data.total;
                            that.pageCount=Math.ceil(that.total/that.limit);
                            if(that.pageCount===0){
                                that.pageCount=1;
                            }
                        }else{
                            console.log(response);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            isNull:function (index){
                return this.list[index].userId !== null;
            }
        }
    })
</script>
</body>
</html>