<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>我的项目</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="../../../../static/layui/css/layui.css" media="all">
  <script src="/layui/layui.js" charset="utf-8"></script>
  <script src="../../../../static/layui/layui.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/common.js" charset="utf-8"></script>
  <script src="../../../../static/common.js" charset="utf-8"></script>
</head>
<body>
<div id="app">
  <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
    <div class="layui-form-item">
      <label class="layui-form-label">项目名称</label>
      <div class="layui-input-block">
        <input v-model="projectInfo.projectName" class="layui-input" disabled="">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">项目编号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.projectId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">项目类别</label>
        <div class="layui-input-inline">
          <input v-model="projectTypeName" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">项目阶段</label>
        <div class="layui-input-inline">
          <input v-model="projectPhaseName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">项目状态</label>
        <div class="layui-input-inline">
          <input v-model="projectStatusName" class="layui-input" disabled="">
        </div>
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">负责人</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.headPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item" v-if="projectInfo.secondId!=''">
      <div class="layui-inline">
        <label class="layui-form-label">成员二</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.secondPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item" v-if="projectInfo.thirdId!=''">
      <div class="layui-inline">
        <label class="layui-form-label">成员三</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.thirdPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item" v-if="projectInfo.fourthId!=''">
      <div class="layui-inline">
        <label class="layui-form-label">成员四</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fourthPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item" v-if="projectInfo.fifthId!=''">
      <div class="layui-inline">
        <label class="layui-form-label">成员五</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">学号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.fifthPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item">
      <div class="layui-inline">
        <label class="layui-form-label">指导老师</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">院系</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherDepartment" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">工号</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherId" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">分工</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherJob" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.teacherPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item" v-if="projectInfo.enterpriseTutorName!=''">
      <div class="layui-inline">
        <label class="layui-form-label">企业导师</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorName" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorPlace" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">专业</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorMajor" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">职称</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorTitle" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">指导内容</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorWork" class="layui-input" disabled="">
        </div>
      </div>
      <div class="layui-inline">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.enterpriseTutorPhone" class="layui-input" disabled="">
        </div>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <label class="layui-form-label">项目简介</label>
      <div class="layui-input-block">
        <textarea v-model="projectInfo.projectIntroduction" class="layui-textarea" disabled=""></textarea>
      </div>
    </div>

    <div v-if="projectInfo.projectPhase>=0">
      <div class="layui-form-item"  v-if="file0!=''">
        <label class="layui-form-label">立项申请书</label>
        <a class="layui-form-mid" @click="download(0)" style="cursor: pointer;text-align: center">{{file0}}</a>
      </div>
      <div class="layui-form-item" v-if="file1!=''">
        <label class="layui-form-label">立项PPT</label>
        <a class="layui-form-mid" @click="download(1)"  style="cursor: pointer">{{file1}}</a>
      </div>
      <div class="layui-form-item" v-if="file2!=''">
        <label class="layui-form-label">立项额外文件</label>
        <a class="layui-form-mid" @click="download(2)" style="cursor: pointer">{{file2}}</a><br>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.startStatus>=1">
        <label class="layui-form-label">立项得分</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.startGrade" class="layui-input" disabled="">
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.startStatus>1">
        <label class="layui-form-label">立项驳回原因</label>
        <div class="layui-input-block">
          <textarea v-model="projectInfo.startFailureDetails" class="layui-textarea" disabled=""></textarea>
        </div>
      </div>
    </div>

    <div v-if="projectInfo.projectPhase>=1">
      <div class="layui-form-item"  v-if="file3!=''">
        <label class="layui-form-label">中期报告</label>
        <a class="layui-form-mid" @click="download(3)" style="cursor: pointer">{{file3}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file4!=''">
        <label class="layui-form-label">人员变更申请表</label>
        <a class="layui-form-mid" @click="download(4)" style="cursor: pointer">{{file4}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file5!=''">
        <label class="layui-form-label">中期PPT</label>
        <a class="layui-form-mid" @click="download(5)" style="cursor: pointer">{{file5}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file6!=''">
        <label class="layui-form-label">中期额外文件</label>
        <a class="layui-form-mid" @click="download(6)" style="cursor: pointer">{{file6}}</a><br>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.midtermStatus>=2">
        <label class="layui-form-label">中期得分</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.midtermGrade" class="layui-input" disabled="">
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.midtermStatus>2">
        <label class="layui-form-label">中期审核失败原因</label>
        <div class="layui-input-block">
          <textarea v-model="projectInfo.midtermFailureDetails" class="layui-textarea" disabled=""></textarea>
        </div>
      </div>
    </div>

    <div v-if="projectInfo.projectPhase>=2">

      <div class="layui-form-item" v-if="projectInfo.paperTitle!=''">
        <div class="layui-inline">
          <label class="layui-form-label">论文名称</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.paperTitle" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">发表刊物名称</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.publicationName" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">检索类型</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.retrievalType" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">检索号</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.retrievalNumber" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">论文第一作者</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.paperFirstAuthor" class="layui-input" disabled="">
          </div>
        </div>
      </div>

      <div class="layui-form-item" v-if="projectInfo.patentName!=''">
        <div class="layui-inline">
          <label class="layui-form-label">专利名称</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.patentName" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">专利授权时间</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.authorizedTime" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">专利号</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.patentNumber" class="layui-input" disabled="">
          </div>
        </div>
      </div>

      <div class="layui-form-item" v-if="projectInfo.physicalWorksName!=''">
        <div class="layui-inline">
          <label class="layui-form-label">实物作品名称</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.physicalWorksName" class="layui-input" disabled="">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">作品第一作者</label>
          <div class="layui-input-inline">
            <input v-model="projectInfo.worksFirstAuthor" class="layui-input" disabled="">
          </div>
        </div>
      </div>

      <div class="layui-form-item"  v-if="file7!=''">
        <label class="layui-form-label">华北电力大学大学生创新创业训练计划结题报告书</label>
        <a class="layui-form-mid" @click="download(7)" style="cursor: pointer">{{file7}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file8!=''">
        <label class="layui-form-label">大学生创新性实验计划项目研究总结报告</label>
        <a class="layui-form-mid" @click="download(8)"  style="cursor: pointer">{{file8}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file9!=''">
        <label class="layui-form-label">成果信息表</label>
        <a class="layui-form-mid" @click="download(9)" style="cursor: pointer">{{file9}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file10!=''">
        <label class="layui-form-label">成果展示文件</label>
        <a class="layui-form-mid" @click="download(10)" style="cursor: pointer">{{file10}}</a><br>
      </div>
      <div class="layui-form-item"  v-if="file11!=''">
        <label class="layui-form-label">个人总结</label>
        <a class="layui-form-mid" @click="download(11)" style="cursor: pointer">{{file11}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file12!=''">
        <label class="layui-form-label">结项答辩PPT</label>
        <a class="layui-form-mid" @click="download(12)"  style="cursor: pointer">{{file12}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file13!=''">
        <label class="layui-form-label">延期申请表</label>
        <a class="layui-form-mid" @click="download(13)" style="cursor: pointer">{{file13}}</a><br>
      </div>
      <div class="layui-form-item" v-if="file14!=''">
        <label class="layui-form-label">结项额外文件</label>
        <a class="layui-form-mid" @click="download(14)" style="cursor: pointer">{{file14}}</a><br>
      </div>
    </div>

    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.midtermStatus>2">
        <label class="layui-form-label">申请延期原因</label>
        <div class="layui-input-block">
          <textarea v-model="projectInfo.extensionReason" class="layui-textarea" disabled=""></textarea>
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.endStatus>=2">
        <label class="layui-form-label">结项得分</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.endGrade" class="layui-input" disabled="">
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.endStatus>2">
        <label class="layui-form-label">延期结项原因</label>
        <div class="layui-input-block">
          <textarea v-model="projectInfo.extensionDetails" class="layui-textarea" disabled=""></textarea>
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.endStatus>=2">
        <label class="layui-form-label">延期结项得分</label>
        <div class="layui-input-inline">
          <input v-model="projectInfo.extensionGrade" class="layui-input" disabled="">
        </div>
      </div>
    </div>
    <div class="layui-form-item layui-form-text">
      <div v-if="projectInfo.endStatus>4">
        <label class="layui-form-label">结项失败原因</label>
        <div class="layui-input-block">
          <textarea v-model="projectInfo.endFailureDetails" class="layui-textarea" disabled=""></textarea>
        </div>
      </div>
    </div>

  </form>
</div>
<script>
  //获取最后一个PathParam
  var pathP =location.href;//获取全部路径
  var temp = pathP.split("/");
  var requestPathP = temp[temp.length-1];

  var app = new Vue({
    el: '#app',
    data: {
      projectInfo:{
        projectId:"",
        projectName:"",
        projectType:"",
        projectClass:"",
        startTime:"",
        endTime:"",
        projectIntroduction:"",
        projectPhase:0,
        department:"",
        teacherId:"",
        teacherName:"",
        teacherDepartment:"",
        teacherMajor:"",
        teacherJob:"",
        teacherPhone:"",
        headId:"",
        headName:"",
        headDepartment:"",
        headMajor:"",
        headJob:"",
        headPhone:"",
        secondId:"",
        secondName:"",
        secondDepartment:"",
        secondMajor:"",
        secondJob:"",
        secondPhone:"",
        thirdId:"",
        thirdName:"",
        thirdDepartment:"",
        thirdMajor:"",
        thirdJob:"",
        thirdPhone:"",
        fourthId:"",
        fourthName:"",
        fourthDepartment:"",
        fourthMajor:"",
        fourthJob:"",
        fourthPhone:"",
        fifthId:"",
        fifthName:"",
        fifthDepartment:"",
        fifthMajor:"",
        fifthJob:"",
        fifthPhone:"",
        enterpriseTutorName:"",
        enterpriseTutorPlace:"",
        enterpriseTutorMajor:"",
        enterpriseTutorTitle:"",
        enterpriseTutorWork:"",
        enterpriseTutorPhone:"",
        startStatus:"2",
        midtermStatus:"3",
        endStatus:"5",
        startApplication:null,
        startPpt:null,
        startAdditionalFile:null,
        startGrade:null,
        startFailureDetails:null,
        midtermReport:null,
        midtermChange:null,
        midtermPpt:null,
        midtermAdditionalFile:null,
        midtermGrade:null,
        midtermFailureDetails:null,
        paperTitle:"",
        publicationName:null,
        retrievalType:null,
        retrievalNumber:null,
        paperFirstAuthor:null,
        patentName:"",
        authorizedTime:null,
        patentNumber:null,
        physicalWorksName:null,
        worksFirstAuthor:null,
        endReport:null,
        conclusionReport:null,
        outcomeTable:null,
        outcomeFile:null,
        personalSummary:null,
        endPpt:null,
        extensionApplication:null,
        endAdditionalFile:null,
        endGrade:null,
        extensionReason:null,
        extensionDetails:null,
        extensionGrade:null,
        endFailureDetails:null
      },
      projectTypeName:"",
      projectPhaseName:"",
      projectStatusName:"",
      file0:"123",file1:"",file2:"",file3:"",file4:"",file5:"",
      file6:"",file7:"",file8:"",file9:"",file10:"",file11:"",
      file12:"",file13:"",file14:"",
    },
    mounted:function (){
      var that = this;
      axios.get('http://'+IP+'/api/project/projectInfo',{
        params:{
          projectId:requestPathP
        }
      })
              .then(function (response) {
                if(response.data.success===true){
                  console.log(response);
                  that.projectInfo=response.data.data.projectInfo;
                  switch (response.data.data.projectInfo.projectType){
                    case 0:
                      that.projectTypeName="创新训练";
                      break;
                    case 1:
                      that.projectTypeName="创业训练";
                      break;
                    case 2:
                      that.projectTypeName="创业实践";
                      break;
                  }
                  switch (response.data.data.projectInfo.projectPhase){
                    case 0:
                      that.projectPhaseName="立项申请";
                      switch (response.data.data.projectInfo.startStatus){
                        case 0:
                          that.projectStatusName="等待审核";
                          break;
                        case 1:
                          that.projectStatusName="立项成功";
                          break;
                        case 2:
                          that.projectStatusName="立项驳回";
                          break;
                      }
                      break;
                    case 1:
                      that.projectPhaseName="中期检查";
                      switch (response.data.data.projectInfo.midtermStatus){
                        case 0:
                          that.projectStatusName="未中期审核";
                          break;
                        case 1:
                          that.projectStatusName="中期审核";
                          break;
                        case 2:
                          that.projectStatusName="中期审核通过";
                          break;
                        case 3:
                          that.projectStatusName="中期审核未通过";
                          break;
                      }
                      break;
                    case 2:
                      that.projectPhaseName="结项审核";
                      switch (response.data.data.projectInfo.endStatus){
                        case 0:
                          that.projectStatusName="未结项审核";
                          break;
                        case 1:
                          that.projectStatusName="结项审核";
                          break;
                        case 2:
                          that.projectStatusName="结项审核通过";
                          break;
                        case 3:
                          that.projectStatusName="延期结项";
                          break;
                        case 4:
                          that.projectStatusName="延期项目审核";
                          break;
                        case 5:
                          that.projectStatusName="结项审核未通过";
                          break;
                      }
                      break;
                    case 3:
                      that.projectPhaseName="延期结项";
                      switch (response.data.data.projectInfo.endStatus){
                        case 0:
                          that.projectStatusName="未结项审核";
                          break;
                        case 1:
                          that.projectStatusName="结项审核";
                          break;
                        case 2:
                          that.projectStatusName="结项审核通过";
                          break;
                        case 3:
                          that.projectStatusName="延期结项";
                          break;
                        case 4:
                          that.projectStatusName="延期项目审核";
                          break;
                        case 5:
                          that.projectStatusName="结项审核未通过";
                          break;
                      }
                      break;
                    case 4:
                      that.projectPhaseName="已结项";
                      that.projectStatusName="";
                      break;
                    case 5:
                      that.projectPhaseName="已取消";
                      that.projectStatusName="";
                      break;
                  }
                  if(that.projectInfo.startApplication != null){
                    var str1 = that.projectInfo.startApplication.split("/");
                    that.file0 = str1[str1.length-1];
                  }
                  if(that.projectInfo.startPpt != null){
                    var str1 = that.projectInfo.startPpt.split("/");
                    that.file1 = str1[str1.length-1];
                  }
                  if(that.projectInfo.startAdditionalFile != null){
                    var str1 = that.projectInfo.startAdditionalFile.split("/");
                    that.file2 = str1[str1.length-1];
                  }
                  if(that.projectInfo.midtermReport != null){
                    var str1 = that.projectInfo.midtermReport.split("/");
                    that.file3 = str1[str1.length-1];
                  }
                  if(that.projectInfo.midtermChange != null){
                    var str1 = that.projectInfo.midtermChange.split("/");
                    that.file4 = str1[str1.length-1];
                  }
                  if(that.projectInfo.midtermPpt != null){
                    var str1 = that.projectInfo.midtermPpt.split("/");
                    that.file5 = str1[str1.length-1];
                  }
                  if(that.projectInfo.midtermAdditionalFile != null){
                    var str1 = that.projectInfo.midtermAdditionalFile.split("/");
                    that.file6 = str1[str1.length-1];
                  }
                  if(that.projectInfo.endReport != null){
                    var str1 = that.projectInfo.endReport.split("/");
                    that.file7 = str1[str1.length-1];
                  }
                  if(that.projectInfo.conclusionReport != null){
                    var str1 = that.projectInfo.conclusionReport.split("/");
                    that.file8 = str1[str1.length-1];
                  }
                  if(that.projectInfo.outcomeTable != null){
                    var str1 = that.projectInfo.outcomeTable.split("/");
                    that.file9 = str1[str1.length-1];
                  }
                  if(that.projectInfo.outcomeFile != null){
                    var str1 = that.projectInfo.outcomeFile.split("/");
                    that.file10 = str1[str1.length-1];
                  }
                  if(that.projectInfo.personalSummary != null){
                    var str1 = that.projectInfo.personalSummary.split("/");
                    that.file11 = str1[str1.length-1];
                  }
                  if(that.projectInfo.endPpt != null){
                    var str1 = that.projectInfo.endPpt.split("/");
                    that.file12 = str1[str1.length-1];
                  }
                  if(that.projectInfo.extensionApplication != null){
                    var str1 = that.projectInfo.extensionApplication.split("/");
                    that.file13 = str1[str1.length-1];
                  }
                  if(that.projectInfo.endAdditionalFile != null){
                    var str1 = that.projectInfo.endAdditionalFile.split("/");
                    that.file14 = str1[str1.length-1];
                  }
                }else{
                  console.log(response);
                }
              })
              .catch(function (error) {
                console.log(error);
              });
    },
    methods:{
      download:function (index){
        if(index===0)
          window.open("/api/file/download?path="+this.projectInfo.startApplication);
        else if(index===1)
          window.open("/api/file/download?path="+this.projectInfo.startPpt);
        else if(index===2)
          window.open("/api/file/download?path="+this.projectInfo.startAdditionalFile);
        else if(index===3)
          window.open("/api/file/download?path="+this.projectInfo.midtermReport);
        else if(index===4)
          window.open("/api/file/download?path="+this.projectInfo.midtermChange);
        else if(index===5)
          window.open("/api/file/download?path="+this.projectInfo.midtermPpt);
        else if(index===6)
          window.open("/api/file/download?path="+this.projectInfo.midtermAdditionalFile);
        else if(index===7)
          window.open("/api/file/download?path="+this.projectInfo.endReport);
        else if(index===8)
          window.open("/api/file/download?path="+this.projectInfo.conclusionReport);
        else if(index===9)
          window.open("/api/file/download?path="+this.projectInfo.outcomeTable);
        else if(index===10)
          window.open("/api/file/download?path="+this.projectInfo.outcomeFile);
        else if(index===11)
          window.open("/api/file/download?path="+this.projectInfo.personalSummary);
        else if(index===12)
          window.open("/api/file/download?path="+this.projectInfo.endPpt);
        else if(index===13)
          window.open("/api/file/download?path="+this.projectInfo.extensionApplication);
        else if(index===14)
          window.open("/api/file/download?path="+this.projectInfo.endAdditionalFile);
        else
          alert("该文件不存在！");
      }
    }
  })
</script>
</body>
</html>