<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>修改密码</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/common.js" charset="utf-8"></script>
    <script src="../../../static/common.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" id="app">
    <!-- 头部区域水平导航 -->
    <div class="layui-header">
        <div onclick="window.location='/'" style="cursor: pointer" class="layui-logo">大创信息管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    {{userTypeName}} {{userInfo.userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a onclick="window.location='/teacher/userInfoPage'" style="cursor: pointer">个人信息</a></dd>
                    <dd><a onclick="window.location='/teacher/userPasswordPage'" style="cursor: pointer">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a onclick="window.location='/logout'" style="cursor: pointer">退出登录</a></li>
        </ul>
    </div>
    <!-- 左侧导航区域垂直导航 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li v-if="userInfo.userType>=4" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-user"></i> 用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/userSelectPage'" style="cursor: pointer">用户查询</a></dd>
                        <dd><a onclick="window.location='/teacher/userAddPage'" style="cursor: pointer">添加用户</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=4" class="layui-nav-item">
                    <a onclick="window.location='/teacher/timePublicPage'" style="cursor: pointer"><i class="layui-icon layui-icon-date"></i> 时间发布</a>
                </li>
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-notice"></i> 公告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/noticeSelectPage'" style="cursor: pointer">公告查询</a></dd>
                        <dd><a onclick="window.location='/teacher/noticeAddPage'" style="cursor: pointer">添加公告</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/myProjectPage'" style="cursor: pointer"><i class="layui-icon layui-icon-home"></i> 我的项目</a>
                </li>
                <li v-if="userInfo.userType>=2" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-read"></i> 项目审核</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/pstartPage'" style="cursor: pointer">立项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/processPage'" style="cursor: pointer">进展记录</a></dd>
                        <dd><a onclick="window.location='/teacher/pmidtermPage'" style="cursor: pointer">中期审核</a></dd>
                        <dd><a onclick="window.location='/teacher/promotePage'" style="cursor: pointer">项目升级</a></dd>
                        <dd><a onclick="window.location='/teacher/pendPage'" style="cursor: pointer">结项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/pextensionPage'" style="cursor: pointer">延期审核</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/moneyPage'" style="cursor: pointer"><i class="layui-icon layui-icon-rmb"></i> 财务统计</a>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/fileDownloadPage'" style="cursor: pointer"><i class="layui-icon layui-icon-download-circle"></i> 文档下载</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" >
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer" style="text-align: center">
        @杨国栋的大创信息管理平台
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            userInfo:{
                userId:null,
                userName:"姓名",
                userType:4,
                department:null,
                major:null
            },
            userTypeName:"老师"
        },
        mounted:function (){
            var that = this;
            axios.get('http://'+IP+'/api/user/getUserInfo')
                .then(function (response) {
                    if(response.data.success===true){
                        that.userInfo=response.data.data.userInfo;
                        if(response.data.data.userInfo.userType===1)
                            that.userTypeName="老师";
                        else if(response.data.data.userInfo.userType===2)
                            that.userTypeName="审核老师";
                        else if(response.data.data.userInfo.userType===3)
                            that.userTypeName="系级负责人";
                        else if(response.data.data.userInfo.userType===4)
                            that.userTypeName="校级负责人";
                        else
                            that.userTypeName="学生";
                    }else{
                        console.log(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods:{
        }
    })
</script>
</body>
</html>