<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文件下载</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/common.js" charset="utf-8"></script>
    <script src="../../../static/common.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" id="app">
    <!-- 头部区域水平导航 -->
    <div class="layui-header">
        <div onclick="window.location='/'" style="cursor: pointer" class="layui-logo">大创信息管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    {{userTypeName}} {{userInfo.userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a onclick="window.location='/teacher/userInfoPage'" style="cursor: pointer">个人信息</a></dd>
                    <dd><a onclick="window.location='/teacher/userPasswordPage'" style="cursor: pointer">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a onclick="window.location='/logout'" style="cursor: pointer">退出登录</a></li>
        </ul>
    </div>
    <!-- 左侧导航区域垂直导航 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-user"></i> 用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/userSelectPage'" style="cursor: pointer">用户查询</a></dd>
                        <dd><a onclick="window.location='/teacher/userAddPage'" style="cursor: pointer">添加用户</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=4" class="layui-nav-item">
                    <a onclick="window.location='/teacher/timePublicPage'" style="cursor: pointer"><i class="layui-icon layui-icon-date"></i> 时间发布</a>
                </li>
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-notice"></i> 公告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/noticeSelectPage'" style="cursor: pointer">公告查询</a></dd>
                        <dd><a onclick="window.location='/teacher/noticeAddPage'" style="cursor: pointer">添加公告</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/myProjectPage'" style="cursor: pointer"><i class="layui-icon layui-icon-home"></i> 我的项目</a>
                </li>
                <li v-if="userInfo.userType>=2" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-read"></i> 项目审核</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/pstartPage'" style="cursor: pointer">立项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/processPage'" style="cursor: pointer">进展记录</a></dd>
                        <dd><a onclick="window.location='/teacher/pmidtermPage'" style="cursor: pointer">中期审核</a></dd>
                        <dd><a onclick="window.location='/teacher/promotePage'" style="cursor: pointer">项目升级</a></dd>
                        <dd><a onclick="window.location='/teacher/pendPage'" style="cursor: pointer">结项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/pextensionPage'" style="cursor: pointer">延期审核</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/moneyPage'" style="cursor: pointer"><i class="layui-icon layui-icon-rmb"></i> 财务统计</a>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item layui-nav-itemed">
                    <a onclick="window.location='/teacher/fileDownloadPage'" style="cursor: pointer"><i class="layui-icon layui-icon-download-circle"></i> 文档下载</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" >
        <section>
            <div style="display: flex;margin-top: 10px;margin-bottom: 5px;margin-right:5px;float:right">
                <button @click="clearAll" class="layui-btn layui-btn-primary">重置</button>
                <button @click="multiDownload" class="layui-btn layui-btn-primary">批量下载</button>
                <button @click="multiDelete" class="layui-btn layui-btn-primary" style="margin-right: 50px">批量删除</button>
                <input type="text" placeholder="文件名称查找" v-model="fileNameSearch" class="layui-input" style="width: 200px">
                <input type="text" placeholder="文件所属主体查找" v-model="ownerNameSearch" class="layui-input" style="width: 200px">
                <select v-model="fileTypeSearch" class="layui-input" style="width: 200px">
                    <option value="" selected="selected">文件类型查找</option>
                    <option value="0">公告附件</option>
                    <option value="1">项目附件</option>
                </select>
                <button @click="getData" class="layui-btn layui-btn-primary">搜索</button>
            </div>
            <table id="table" class="layui-table" lay-skin="line">
                <colgroup>
                    <col >
                    <col >
                    <col >
                    <col >
                    <col >
                    <col >
                    <col >
                    <col >
                </colgroup>
                <thead>
                <tr>
                    <th>选择</th>
                    <th>文件序号</th>
                    <th>所属主体名称</th>
                    <th>文件类型</th>
                    <th>文件名称</th>
                    <th>文件路径</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="isNull(0)">
                    <td>
                        <input type="checkbox" name="choose" value="0" lay-skin="primary">
                    </td>
                    <td>{{list[0].fileId}}</td>
                    <td>{{list[0].ownerName}}</td>
                    <td>{{list[0].fileTypeName}}</td>
                    <td>{{list[0].fileName}}</td>
                    <td>{{list[0].filePath}}</td>
                    <td><a @click="toDownload(0)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(0)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(1)">
                    <td>
                        <input type="checkbox" name="choose" value="1" lay-skin="primary">
                    </td>
                    <td>{{list[1].fileId}}</td>
                    <td>{{list[1].ownerName}}</td>
                    <td>{{list[1].fileTypeName}}</td>
                    <td>{{list[1].fileName}}</td>
                    <td>{{list[1].filePath}}</td>
                    <td><a @click="toDownload(1)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(1)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(2)">
                    <td>
                        <input type="checkbox" name="choose" value="2" lay-skin="primary">
                    </td>
                    <td>{{list[2].fileId}}</td>
                    <td>{{list[2].ownerName}}</td>
                    <td>{{list[2].fileTypeName}}</td>
                    <td>{{list[2].fileName}}</td>
                    <td>{{list[2].filePath}}</td>
                    <td><a @click="toDownload(2)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(2)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(3)">
                    <td>
                        <input type="checkbox" name="choose" value="3" lay-skin="primary">
                    </td>
                    <td>{{list[3].fileId}}</td>
                    <td>{{list[3].ownerName}}</td>
                    <td>{{list[3].fileTypeName}}</td>
                    <td>{{list[3].fileName}}</td>
                    <td>{{list[3].filePath}}</td>
                    <td><a @click="toDownload(3)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(3)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(4)">
                    <td>
                        <input type="checkbox" name="choose" value="4" lay-skin="primary">
                    </td>
                    <td>{{list[4].fileId}}</td>
                    <td>{{list[4].ownerName}}</td>
                    <td>{{list[4].fileTypeName}}</td>
                    <td>{{list[4].fileName}}</td>
                    <td>{{list[4].filePath}}</td>
                    <td><a @click="toDownload(4)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(4)" style="cursor: pointer">删除</a></td>
                </tr>
                <tr v-show="isNull(5)">
                    <td>
                        <input type="checkbox" name="choose" value="5" lay-skin="primary">
                    </td>
                    <td>{{list[5].fileId}}</td>
                    <td>{{list[5].ownerName}}</td>
                    <td>{{list[5].fileTypeName}}</td>
                    <td>{{list[5].fileName}}</td>
                    <td>{{list[5].filePath}}</td>
                    <td><a @click="toDownload(5)" style="cursor: pointer">下载</a></td>
                    <td><a @click="toDelete(5)" style="cursor: pointer">删除</a></td>
                </tr>
                </tbody>
            </table>
            <div style="float:right">
                <button @click="previous" type="button" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon"></i></button>
                <label style="text-align: center;margin: 5px">{{current}}/{{pageCount}}</label>
                <button @click="next" type="button" class="layui-btn layui-btn-primary layui-border"><i class="layui-icon"></i></button>
            </div>
            <div style="height: 500px"></div>
        </section>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer" style="text-align: center">
        @杨国栋的大创信息管理平台
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            total:0,
            list: [
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""},
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""},
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""},
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""},
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""},
                {fileId:null,ownerName:"",fileTypeName:"",fileName:"",filePath:""}
            ],
            current:1,
            limit:6,
            pageCount:1,
            ownerNameSearch:"",
            fileTypeSearch:"",
            fileNameSearch:"",
            userInfo:{
                userId:null,
                userName:"姓名",
                userType:4,
                department:null,
                major:null
            },
            userTypeName:"老师"
        },
        mounted:function (){
            var that = this;
            axios.get('http://'+IP+'/api/user/getUserInfo')
                .then(function (response) {
                    if(response.data.success===true){
                        that.userInfo=response.data.data.userInfo;
                        if(response.data.data.userInfo.userType===1)
                            that.userTypeName="老师";
                        else if(response.data.data.userInfo.userType===2)
                            that.userTypeName="审核老师";
                        else if(response.data.data.userInfo.userType===3)
                            that.userTypeName="系级负责人";
                        else if(response.data.data.userInfo.userType===4)
                            that.userTypeName="校级负责人";
                        else
                            that.userTypeName="学生";
                    }else{
                        console.log(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            that.getData();
        },
        methods:{
            clearAll:function(){
                var items = document.getElementsByName("choose");
                for (var i = 0; i < items.length; i++) {
                    items[i].checked=false;
                }
            },
            chooseAll:function() {
                var arr = new Array();
                var items = document.getElementsByName("choose");
                for (i = 0; i < items.length; i++) {
                    if (items[i].checked) {
                        arr.push(items[i].value);
                        console.log(arr);
                    }
                }
                alert("选择的个数为：" + arr.length);
            },
            toDownload:function (index){
                window.location.href='/api/file/download?path='+this.list[index].filePath;
            },
            multiDownload:function (){
                var arr = new Array();
                var items = document.getElementsByName("choose");
                for (var i = 0; i < items.length; i++) {
                    if (items[i].checked) {
                        items[i].checked=false;
                        arr.push(items[i].value);
                        const iframe = document.createElement("iframe");
                        iframe.style.display = "none"; // 防止影响页面
                        iframe.style.height = 0; // 防止影响页面
                        iframe.src = '/api/file/download?path='+this.list[items[i].value].filePath;
                        document.body.appendChild(iframe); // 这一行必须，iframe挂在到dom树上才会发请求
                        // 5分钟之后删除（onload方法对于下载链接不起作用）
                        setTimeout(()=>{
                            iframe.remove();
                        }, 5 * 60 * 1000);
                    }
                }
                alert("选择的为：" + arr);
                this.clearAll();
            },
            toDelete:function (index){
                var that=this;
                axios.delete('http://'+IP+'/api/file/removeFile',{
                    params:{
                        fileId:that.list[index].fileId
                    }
                })
                    .then(function (response) {
                        if(response.data.success===true){
                            layer.alert(response.data.message);
                        }else{
                            layer.alert(response.data.message);
                            console.log(response);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            multiDelete:function (){
                var that=this;
                var items = document.getElementsByName("choose");
                for (var i = 0; i < items.length; i++) {
                    if (items[i].checked) {
                        items[i].checked=false;
                        that.toDelete(i);
                    }
                }
                this.clearAll();
            },
            previous:function (){
                if(this.current>1)
                    this.current--;
                this.getData();
                this.clearAll();
            },
            next:function (){
                if(this.current<this.pageCount)
                    this.current++;
                this.getData();
                this.clearAll();
            },
            getData:function (){
                var that = this;
                axios.get('http://'+IP+'/api/file/selectFile',{
                    params:{
                        current:that.current,
                        limit:that.limit,
                        ownerName:that.ownerNameSearch,
                        fileType: that.fileTypeSearch,
                        fileName: that.fileNameSearch,
                    }
                })
                    .then(function (response) {
                        if(response.data.success===true){
                            for(var i=0;i<that.limit;i++){
                                if(response.data.data.rows.length>i){
                                    that.list[i].fileId = response.data.data.rows[i].fileId;
                                    that.list[i].ownerName = response.data.data.rows[i].ownerName;
                                    that.list[i].fileName = response.data.data.rows[i].fileName;
                                    that.list[i].filePath = response.data.data.rows[i].filePath;
                                    if(response.data.data.rows[i].fileType==="0"){
                                        that.list[i].fileTypeName = "公告附件";
                                    }else{
                                        that.list[i].fileTypeName = "项目附件";
                                    }
                                }else {
                                    that.list[i].fileId = null;
                                    that.list[i].ownerName = null;
                                    that.list[i].fileName = null;
                                    that.list[i].filePath = null;
                                    that.list[i].fileTypeName = null;
                                }
                            }
                            that.total=response.data.data.total;
                            that.pageCount=Math.ceil(that.total/that.limit);
                            if(that.pageCount===0){
                                that.pageCount=1;
                            }
                        }else{
                            console.log(response);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            isNull:function (index){
                if(this.list[index].fileId===null)
                    return false;
                else
                    return true;
            }
        }
    })
</script>
</body>
</html>