<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>发布时间</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/layui/layui.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/common.js" charset="utf-8"></script>
    <script src="../../../static/common.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin" id="app">
    <!-- 头部区域水平导航 -->
    <div class="layui-header">
        <div onclick="window.location='/'" style="cursor: pointer" class="layui-logo">大创信息管理平台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-username"></i>
                    {{userTypeName}} {{userInfo.userName}}
                </a>
                <dl class="layui-nav-child">
                    <dd><a onclick="window.location='/teacher/userInfoPage'" style="cursor: pointer">个人信息</a></dd>
                    <dd><a onclick="window.location='/teacher/userPasswordPage'" style="cursor: pointer">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a onclick="window.location='/logout'" style="cursor: pointer">退出登录</a></li>
        </ul>
    </div>
    <!-- 左侧导航区域垂直导航 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-user"></i> 用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/userSelectPage'" style="cursor: pointer">用户查询</a></dd>
                        <dd><a onclick="window.location='/teacher/userAddPage'" style="cursor: pointer">添加用户</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=4" class="layui-nav-item layui-nav-itemed">
                    <a onclick="window.location='/teacher/timePublicPage'" style="cursor: pointer"><i class="layui-icon layui-icon-date"></i> 时间发布</a>
                </li>
                <li v-if="userInfo.userType>=3" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-notice"></i> 公告管理</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/noticeSelectPage'" style="cursor: pointer">公告查询</a></dd>
                        <dd><a onclick="window.location='/teacher/noticeAddPage'" style="cursor: pointer">添加公告</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item layui-nav-itemed">
                    <a onclick="window.location='/teacher/myProjectPage'" style="cursor: pointer"><i class="layui-icon layui-icon-home"></i> 我的项目</a>
                </li>
                <li v-if="userInfo.userType>=2" class="layui-nav-item">
                    <a style="cursor: pointer"><i class="layui-icon layui-icon-read"></i> 项目审核</a>
                    <dl class="layui-nav-child">
                        <dd><a onclick="window.location='/teacher/pstartPage'" style="cursor: pointer">立项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/processPage'" style="cursor: pointer">进展记录</a></dd>
                        <dd><a onclick="window.location='/teacher/pmidtermPage'" style="cursor: pointer">中期审核</a></dd>
                        <dd><a onclick="window.location='/teacher/promotePage'" style="cursor: pointer">项目升级</a></dd>
                        <dd><a onclick="window.location='/teacher/pendPage'" style="cursor: pointer">结项审核</a></dd>
                        <dd><a onclick="window.location='/teacher/pextensionPage'" style="cursor: pointer">延期审核</a></dd>
                    </dl>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/moneyPage'" style="cursor: pointer"><i class="layui-icon layui-icon-rmb"></i> 财务统计</a>
                </li>
                <li v-if="userInfo.userType>=1" class="layui-nav-item">
                    <a onclick="window.location='/teacher/fileDownloadPage'" style="cursor: pointer"><i class="layui-icon layui-icon-download-circle"></i> 文档下载</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="layui-body" >
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>当前时间</legend>
        </fieldset>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">立项：</label>
                    <div class="layui-input-inline">
                        <input v-model="startBegin" class="layui-input" disabled="">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="startOver" class="layui-input" disabled="">
                    </div>
                </div>
            </div>
        </form>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">中期：</label>
                    <div class="layui-input-inline">
                        <input v-model="midtermBegin" class="layui-input" disabled="">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="midtermOver" class="layui-input" disabled="">
                    </div>
                </div>
            </div>
        </form>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">结项：</label>
                    <div class="layui-input-inline">
                        <input v-model="endBegin" class="layui-input" disabled="">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="endOver" class="layui-input" disabled="">
                    </div>
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>设定时间</legend>
        </fieldset>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">立项：</label>
                    <div class="layui-input-inline">
                        <input v-model="newStartBegin" id="startBegin" class="layui-input" placeholder="开始时间">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="newStartOver" id="startOver" class="layui-input" placeholder="结束时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button type="button" @click="startSubmit" class="layui-btn ">提交立项时间</button>
                    </div>
                </div>
            </div>
        </form>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">中期：</label>
                    <div class="layui-input-inline">
                        <input v-model="newMidtermBegin" id="midtermBegin" class="layui-input" placeholder="开始时间">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="newMidtermOver" id="midtermOver" class="layui-input" placeholder="结束时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button type="button" @click="midtermSubmit" class="layui-btn ">提交中期时间</button>
                    </div>
                </div>
            </div>
        </form>
        <form class="layui-form" style="margin-top: 30px;margin-right: 30px">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">结项：</label>
                    <div class="layui-input-inline">
                        <input v-model="newEndBegin" id="endBegin" class="layui-input" placeholder="开始时间">
                    </div>
                </div>
                <div class="layui-inline">
                    -
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input v-model="newEndOver" id="endOver" class="layui-input" placeholder="结束时间">
                    </div>
                </div>
                <div class="layui-inline">
                    <div class="layui-input-block">
                        <button type="button" @click="endSubmit" class="layui-btn ">提交结项时间</button>
                    </div>
                </div>
            </div>
        </form>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>大创阶段操作</legend>
        </fieldset>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" @click="enterMidterm" class="layui-btn ">进入中期检查阶段</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" @click="enterEnd" class="layui-btn ">进入结项审核阶段</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" @click="end" class="layui-btn ">结项成功的项目转为已结项</button>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" @click="cancel" class="layui-btn ">所有未通过的项目转为已取消</button>
                </div>
            </div>
        </div>
        <div style="height: 100px"></div>
    </div>
    <!-- 底部固定区域 -->
    <div class="layui-footer" style="text-align: center">
        @杨国栋的大创信息管理平台
    </div>
</div>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startBegin'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newStartBegin=value;
            }
        });
        laydate.render({
            elem: '#startOver'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newStartOver=value;
            }
        });
        laydate.render({
            elem: '#midtermBegin'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newMidtermBegin=value;
            }
        });
        laydate.render({
            elem: '#midtermOver'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newMidtermOver=value;
            }
        });
        laydate.render({
            elem: '#endBegin'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newEndBegin=value;
            }
        });
        laydate.render({
            elem: '#endOver'
            ,format: 'yyyy-MM-dd'
            ,done: function(value){
                app.newEndOver=value;
            }
        });
    });
    var app = new Vue({
        el: '#app',
        data: {
            userInfo:{
                userId:null,
                userName:"姓名",
                userType:4,
                department:null,
                major:null
            },
            userTypeName:"老师",
            startBegin:null,
            startOver:null,
            midtermBegin:null,
            midtermOver:null,
            endBegin:null,
            endOver:null,
            newStartBegin:null,
            newStartOver:null,
            newMidtermBegin:null,
            newMidtermOver:null,
            newEndBegin:null,
            newEndOver:null,
        },
        mounted:function (){
            var that = this;
            axios.get('http://'+IP+'/api/user/getUserInfo')
                .then(function (response) {
                    if(response.data.success===true){
                        that.userInfo=response.data.data.userInfo;
                        if(response.data.data.userInfo.userType===1)
                            that.userTypeName="老师";
                        else if(response.data.data.userInfo.userType===2)
                            that.userTypeName="审核老师";
                        else if(response.data.data.userInfo.userType===3)
                            that.userTypeName="系级负责人";
                        else if(response.data.data.userInfo.userType===4)
                            that.userTypeName="校级负责人";
                        else
                            that.userTypeName="学生";
                    }else{
                        console.log(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            axios.get('http://'+IP+'/api/time/timeSelect')
                .then(function (response) {
                    if(response.data.success===true){
                        that.startBegin=response.data.data.time.startBegin;
                        that.startOver=response.data.data.time.startOver;
                        that.midtermBegin=response.data.data.time.midtermBegin;
                        that.midtermOver=response.data.data.time.midtermOver;
                        that.endBegin=response.data.data.time.endBegin;
                        that.endOver=response.data.data.time.endOver;
                    }else{
                        console.log(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        methods: {
            startSubmit: function () {
                var that = this;
                axios.post('http://' + IP + '/api/time/timeStart',
                    {
                        startBegin: that.newStartBegin,
                        startOver: that.newStartOver
                    })
                    .then(function (response) {
                        if (response.data.success === true) {
                            alert(response.data.message);
                            location.reload();
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            midtermSubmit: function () {
                var that = this;
                axios.post('http://' + IP + '/api/time/timeMidterm',
                    {
                        midtermBegin: that.newMidtermBegin,
                        midtermOver: that.newMidtermOver
                    })
                    .then(function (response) {
                        if (response.data.success === true) {
                            alert(response.data.message);
                            location.reload();
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            endSubmit: function () {
                var that = this;
                axios.post('http://' + IP + '/api/time/timeEnd',
                    {
                        endBegin: that.newEndBegin,
                        endOver: that.newEndOver
                    })
                    .then(function (response) {
                        if (response.data.success === true) {
                            alert(response.data.message);
                            location.reload();
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            enterMidterm:function (){
                axios.post('http://' + IP + '/api/project/enterMidterm')
                    .then(function (response) {
                        if (response.data.success === true) {
                            layer.alert(response.data.message);
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            enterEnd:function (){
                axios.post('http://' + IP + '/api/project/enterEnd')
                    .then(function (response) {
                        if (response.data.success === true) {
                            layer.alert(response.data.message);
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            end:function (){
                axios.post('http://' + IP + '/api/project/end')
                    .then(function (response) {
                        if (response.data.success === true) {
                            layer.alert(response.data.message);
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            cancel:function (){
                axios.post('http://' + IP + '/api/project/enterCancel')
                    .then(function (response) {
                        if (response.data.success === true) {
                            layer.alert(response.data.message);
                        } else {
                            layer.alert(response.data.message);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }
        }
    })
</script>
</body>
</html>